/* .container {
    display: flex;
    flex-wrap: wrap;
    outline: 2px solid red;
}

button {
    margin: 4px;
} */

/* ================================== */

.tags {
    list-style: none;
    user-select: none;

    display: flex;
    flex-wrap: wrap;
    gap: 10px;
    justify-content: center;
    align-items: center;
    
    outline: 1px solid tomato;
    padding: 10px;
}

.tags__item {
    padding: 10px;
    outline: 1px solid green;
}

.tags__btn {
     border: 1px solid #212121;
     border-radius: 4px;
     display: inline-block;
     padding: 4px 10px;
}

.tags__btn--active {
    color: #fff;
    background-color: #3f51b5;
}