/* .output {
    outline: 1px solid red;
} */

/* .box {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 350px;
  height: 350px;
  background-color: tomato;
}

.inner-box {
  width: 150px;
  height: 150px;
  background-color: yellow;
}

.box--active {
    background-color: green;
} */

/* ============================= */

/* body.show-modal .backdrop {
    opacity: 1;
    visibility: visible;
    pointer-events: initial;
}

body.show-modal .modal {
    transform: scale(1);
}

.backdrop {
    display: flex;
    justify-content: center;
    align-items: center;
    position: fixed;
    top: 0;
    left: 0;
    width: 100vw;
    height: 100vh;
    background-color: rgba(0,0,0,0.3);
    z-index: 999;

    pointer-events: none;
    opacity: 0;
    visibility: hidden;
    transition: opacity 280ms ease-in-out, visibility 280ms ease-in-out;
}

.modal {
    padding: 24px;
    border-radius: 4px;
    max-width: 640px;
    width: 100%;
    min-height: 328px;
    background-color: #fff;
    box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.15);
} */

/* ============================= */

/* .list {
    list-style: none;
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
}

.img-car {
    width: 280px;
} */

/* .test {
    background-color: red;
} */
